/*Home Page*/

body{
    background-image: url(images/14730146_rm124-mynt-52-leavesbackground.jpg);
    background-size: cover;
    transition: .5s;
}

.top-bar h2{
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 900;
    font-size: 30px;
    color: palevioletred;
    padding: 25px 30px;
}

.top-bar{
    display:flex;
    justify-content: space-between;
}

.home{
    display: flex;
}
.home .name h3{
  font-size: 60px;
    padding-top: 120px;
     color: palevioletred;
    display: flex;
    font-family: 'Lobster', cursive;
    justify-content: space-between;
    font-weight: 100;
    padding-left: 250px;

}

.home .des h4{
   font-size: 45px;
    padding-top: 200px;
    color: palevioletred;
    display: inline-block;
    font-family: 'DM Serif Display', serif;
    font-weight: 100;
    float: right;
    padding-right: 0;
    position: relative;
} 
}

ul{
    list-style: none;
    cursor: pointer;
    padding: 30px 50px;
    border: none;
    background-color: transparent;
    font-family:monospace;

}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
  color: palevioletred;
    font-size: 18px;
    font-weight: 600;
   font-family: 'Montserrat', sans-serif;
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    
   
}

ul li a:hover{
    background-color: #F2B8C5
}

/*About Me*/

.am{
    display: flex;
}
.am .am1 img{
    padding-left: 300px;
}

.am .am2 h3{
    font-family: 'Bowlby One SC', cursive;
    padding-left: 80px;
    padding-top: 35px;
    color: palevioletred;
    font-size: 40px;
}

.am .am2 p{
    font-size: 30px;
    font-family: 'Livvic', sans-serif;
    padding-left: 60px;
    padding-right: 50px;
    padding-top: 35px;
    color: palevioletred;
    font-size: 25px;
    font-weight: 600;
}

/*Contact*/

.contact{
    align-items: center;
    justify-content: center;
    padding-top: 75px;
    padding-left: 450px;
}

.contact img{
    width: 50px;
    height: 50px;
}

.contact p{
    font-size: 22px;
    font-family: 'Livvic', sans-serif;
    color: palevioletred;
    font-weight: 700;
}

.contact h3{
    font-size: 30px;
    font-family: 'Bowlby One SC', cursive;
    color: palevioletred;
    font-size: 40px;
}

/*Skills*/

.skills{
    display:flex;
}

.skills h3{
     font-family: 'Bowlby One SC', cursive;
    padding-left: 0;
    padding-top: 130px;
    justify-content: center;
    align-items: center;
    color: palevioletred;
    font-size: 40px;
}

.skills #i1{
    padding-left: 0;
    padding-top: 220px;
  
}

.skills #i2{
    padding-left: 40px;
    padding-top: 220px;
  
}
.skills #i3{
    padding-left: 40px;
    padding-top: 220px;
  
}

.skills  p{
     font-size: 25px;
    font-family: 'Livvic', sans-serif;
    color: palevioletred;
    font-weight: 600;
    padding-top: 240px;
  
}


